button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: initial;
  }
  &.show {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}
