#product {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
  }
  .product-logo {
    max-width: 400px;
  }
  mat-card {
    margin: 10px auto;
  }
  form {
    text-align: left;
  }
  table {
    width: 100%;
    text-align: left;
  }
  .items {
    display: flex;
    .item {
      flex: 1;
      img {
        max-width: 200px;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
