<div class="content-container">
  <div class="top-div">
    <div class="top-text">
      Auf Nils geht die Idee der Tradingcardprice Seite zurück. Er sammelt Pokémon und Yu-Gi-Oh! Karten schon seit seiner Kindheit.
      Er verbrachte viel Zeit auf Verkaufsplattformen wie Ebay, aber auch auf den spielspezifischen Wikiseiten.
      Was ihm dabei immer gefehlt hat, war eine Anlaufstelle zum Einholen des tatsächlichen Echtzeitpreises. Stattdessen musste er immer von 
      Shopsite zu Shopsite und unzählige Inserate durchklicken, um eine grobe Schätzung des Preises zu haben. Ein langfristiger Überblick
      fehlte aber dennoch. Da er für seine Universität ohnehin ein Projekt implementieren musste, überredete er kurzerhand Jonas und
      nahm die Lösung des Problems selbst in die Hand: Eine Website, die Nachschlagewerk und Preisvergleichsseite in einem ist.
      <br>
      <!--Nils Wissensstand war dem von Jonas um Welten voraus, jedoch erwies er sich als herausragender Lehrer und gab Jonas sehr viel von seinem 
      Wissen weiter.!-->git 

    </div>
    <div>
      <img class="top-image" src="assets/images/team/nils.png" alt="" />
    </div>
  </div>
  <div class="bottom-div">
    <div>
      <img class="bottom-image" src="assets/images/team/jonas.png" alt="" />
    </div>
    <div class="bottom-text">
      Jonas war direkt Feuer und Flamme für Nils Projekt. Zwar hatte er mit Pokémon und Yu-Gi-Oh! bisher nichts anfangen können, jedoch
      ist er leidenschaftlicher Motorradfahrer. Bisher musste er, wenn er ein Motorrad kaufen oder verkaufen wollte, immer duzente 
      Motorradverkaufsplattformen besuchen und auf jeder einzeln nach einem gewissen Motorrad Modell suchen. Das ist sehr mühselig und
      kostet enorm viel Zeit. Auch fehlt wie bei den Sammelkarten die übersicht, wieviel ein spezielles Motorrad denn nun wirklich aktuell 
      unter gegebenen Umständen Wert ist, genauso wie eine Langzeitanalyse. Nach der Fertigstellung des Projektes möchte er zusammen mit Nils dieses
      Projekt umsetzen und erhofft sich, dadurch mehr Zeit fürs Motorrad Fahren, als fürs Suchen zu haben.
      <br>
      <!--Jonas hatte sehr wenig Kentnisse über Web Development. Dennoch konnte er mit seinem Wissen über Linux und Security trumpfen.
      Auch griff er Nils unter die Arme wo immer es ging und lernte so sehr viel neues dazu !-->
    </div>
  </div>
</div>
