#category {
  .category {
    text-align: center;
    h1 {
      font-size: 32px;
      font-weight: bold;
      text-decoration: underline;
    }
    .category-description {
      font-size: 18px;
      font-weight: 500;
      max-width: 1290px;
      display: block;
      margin: 0 auto;
    }
  }
  .products {
    max-width: 1000px;
    margin: 30px auto;
    table {
      width: 100%;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
