<!-- Product Showcase -->
<app-product-showcase></app-product-showcase>

<!-- Feature Group -->
<app-feature-group>
  <app-feature-example
    title="{{ 'home-content.text1' | translate }}"
    description="{{ 'home-content.text1-content' | translate }}"
    imageSrc="assets/images/chart.webp"
  >
  </app-feature-example>

  <app-feature-example
    title="{{ 'home-content.text2' | translate }}"
    description="{{ 'home-content.text2-content' | translate }}"
    imageSrc="assets/images/set.webp"
  >
  </app-feature-example>

  <app-feature-example
    title="{{ 'home-content.text3' | translate }}"
    description="{{ 'home-content.text3-content' | translate }}"
    imageSrc="assets/images/error.webp"
  >
  </app-feature-example>

  <app-feature-example
    title="{{ 'home-content.text4' | translate }}"
    description="{{ 'home-content.text4-content' | translate }}"
    imageSrc="assets/images/psa-logo.webp"
  >
  </app-feature-example>

  <app-feature-row
    title1="{{ 'home-content.feature-title1' | translate }}"
    description1="{{ 'home-content.feature-description1' | translate }}"
    title2="{{ 'home-content.feature-title2' | translate }}"
    description2="{{ 'home-content.feature-description2' | translate }}"
    title3="{{ 'home-content.feature-title3' | translate }}"
    description3="{{ 'home-content.feature-description3' | translate }}"
  >
  </app-feature-row>
</app-feature-group>
